

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}


p, h3 {
  margin: 0;
  padding: 0;
}

.lime-span {
  color: #CAFA00;
  font-weight: boldo;

}


.main-button {
  background-color: #CAFA00 !important;
  font-weight:lighter !important;
}

.main-link {
  background-color: #CAFA00;
  font-weight:lighter;
  padding: 20px;
  margin-top: 50px !important;
  margin-bottom: 50px !important; 

}

.non-style-link {
  color: white
}

.gray-button {
  color: white;
  background-color: gray;
  padding: 16px 32px;
  border-radius: 64px;
}

.gray-button:hover {
  color: black;
  background-color: #CAFA00;

}


.mapboxgl-map {
  z-index: 0;
}


.map-pop-up {
  color: black
}

/* On Boarding Page */

.onboarding-container {
  background-image: url("../src/images/onboarding-bg.jpg");
  background-size: cover;
}


/* Playlist List */



