

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}


p, h3 {
  margin: 0;
  padding: 0;
}

.lime-span {
  color: #CAFA00;
  font-weight: boldo;

}


.main-button {
  background-color: #CAFA00 !important;
  font-weight:lighter !important;
  padding: 16px 32px !important;
}

.main-link {
  background-color: #CAFA00;
  color: black;
  font-size: 15px;
  border-radius: 64px;
  padding: 16px 25px;
  margin-top: 20px;
  margin-bottom: 20px;


}

.non-style-link {
  color: white
}

.gray-button {
  color: white;
  background-color: gray;
  padding: 16px 32px;
  border-radius: 64px;
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
 
}

.gray-button:hover {
  color: black;
  background-color: #CAFA00;

}


.mapboxgl-map {
  z-index: 0;
}


/* On Boarding Page */

.onboarding-container {
  background-image: url("../src/images/onboarding-bg.jpg");
  background-size: contain;
  height: 100vh;
  padding: 30px;
}

.centered-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
} 

.auto-complete-input {
  border: 1px solid #CAFA00;
  background-color: black;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;


}


